@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Jersey+15&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

main {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.white-glass-design {
  background: rgba(255, 255, 255, 0.45);
  border-radius: 0px 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.7px);
  -webkit-backdrop-filter: blur(6.7px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.jersey-font {
  font-family: "Jersey 15", sans-serif !important;
  font-weight: 400;
  font-style: normal;
}

.bounce-animation-local {
  animation: gelatine-local 5s infinite;
}

.underline-hover-animation-local {
  animation: underline-hover-local 5s infinite;
}

.cursor-animation {
  animation: mouse-cursor-local ease-in-out 0.8s infinite;
}

@keyframes gelatine-local {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

@keyframes mouse-cursor-local {
  from,
  to {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}

@keyframes underline-hover {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
